body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    width: 100%;
    position: relative;
}

.element {
    margin-bottom: 22px;
}

.input-group {
    text-align: left;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 22px;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    input {
        width: 92%;
    }

    button {
        width: 100%;
    }
}

.option {
    display: none;
}

.hidden {
    display: none;
}

.dashboard {
    margin-bottom: 20px;
}

.button-group {
    position: relative;
}

#moreButton {
    display: block;
    visibility: visible;
    cursor: pointer;
    z-index: 10;
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
}
